{% extends 'base/base.html' %}

{% block title %}Tarefa Fácil - APP{% endblock title %}

{% block description %}Lista de tarefas diárias para acompanhamento de atividades diárias{% endblock description %}

{% block cabecalho %}<h1>Bem vindo ao Tarefa Fácil - APP</h1>{% endblock cabecalho %}

{% block body %}
    <br><br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'tarefa_listar' %}" class="btn btn-primary">Entrar</a>
    </div>
    <br><br>
    <br><br>
    <br><br>
{% endblock body %}
