{% extends 'base/base.html' %}

{% block title %}Tarefa Fácil - APP{% endblock title %}

{% block description %}Lista de tarefas diárias para acompanhamento de atividades diárias{% endblock description %}

{% block cabecalho %}<h1>Bem vindo ao Tarefa Fácil - APP</h1>{% endblock cabecalho %}

{% block body %}
    <br><br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'tarefa_listar' %}" class="btn btn-primary">Entrar</a>
    </div>
    <br><br>
    <br><br>
    <br><br>

    <div class="nav justify-content-center">
        <div class="card bg-white text-dark" style="max-width: 750px;">
            <div class="card-header">
                <div class="card-body">
                    <h5 class="card-title">Tarefa Fácil</h5>
                    <p class="card-text">De maneira simples e intuitiva, gerencie suas rotinas diárias em apenas uma página. <br>Crie, edite, altere ou apague seus compromissos, com apenas um clique.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock body %}


