{% extends 'base/base.html' %}
{% load static %}

{% block title %}Lista de Tarefas{% endblock title %}

{% block description %}Página de listagem de tarefas para acompanhamento e execução das mesmas{% endblock description %}

{% block cabecalho %}<h1>Lista de Tarefas</h1>{% endblock cabecalho %}

{% block body %}

    <div class="nav justify-content-center">
        <div class="container">
            <div class="row">
      
                {% for tarefa in tarefas %}
                <div class="col-sm-4 py-2">
                    <div class="card card-altura">
                        <div class="card-body">
                            <h5 class="card-title">#{{ tarefa.id }}</h5>
                            <p>{{ tarefa.descricao }} - {{ tarefa.tipo }}</p>
                            <a href="{% url 'tarefa_editar' %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'tarefa_deletar' %}" class="btn btn-primary btn-sm">Deletar</a>
                        </div>
                    </div>
                </div>
                {% endfor %} 

                <div class="col-sm-4 py-2">
                    <div class="card card-altura">
                        <div class="card-body">
                            <h5 class="card-title">Tarefa</h5>
                            <p><a href="{% url 'tarefa_cadastrar' %}" class="btn btn-primary btn-sm">Adicionar Tarefa</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <div class="nav justify-content-center">
        <div class="position-absolute">
            <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Voltar</a>
        </div>
    </div>
    <br>
    <br>
{% endblock body %}