{% extends 'base/base.html' %}

{% block title %}Deletar Tarefas{% endblock title %}

{% block description %}Página para deletar tarefas descontinuadas{% endblock description %}>

{% block cabecalho %}<h1>Deletar Tarefas</h1>{% endblock cabecalho %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        <h5>Você tem certeza que deseja apagar esta mensagem selecionada?</h5>
        <p>{{ tarefa.id }} ) {{ tarefa.descricao }} - {{ tarrefa.tipo }}</p>
    </div>
    <br>
    
    <div class="nav justify-content-center">
        <a href="{% url 'tarefa_listar' %}" class="btn btn-primary btn-sm">Confirmar</a>
        <a href="{% url 'tarefa_listar' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </div>

    <br>
    <br>
{% endblock body %}
